{% load static %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <div
            class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2"
        >
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    {% if debit_id %}
                    <a
                        class="nav-link"
                        href="{% url 'main:customer-log' debit_pk=debit_id %}"
                    >
                        &nbsp;
                        <img
                            title="Current Debit home"
                            src="{% static 'svgs/home.svg' %}"
                            alt="logo"
                            width="30px"
                        />
                    </a>
                    {% endif %}
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'main:debit-list' %}">
                        <img
                            title="Your debit list"
                            src="{% static 'svgs/list.svg' %}"
                            alt="logo"
                            width="30px"
                        />
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <img
                            title="About"
                            src="{% static 'svgs/about.svg' %}"
                            alt="logo"
                            width="30px"
                        />
                    </a>
                </li>
            </ul>
        </div>
        <div class="mx-auto order-0">
            <div class="navbar-brand">
                <img
                    src="{% static 'svgs/logo.svg' %}"
                    alt="logo"
                    width="30px"
                />
                <span class="R">R</span>-Credit
            </div>
            <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target=".dual-collapse2"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:logout' %}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:signup' %}">Sign Up</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
