[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-crispy-forms = "*"
tzlocal = "*"
factory-boy = "*"
django-rest-framework = "*"
django-rest-knox = "*"

[dev-packages]
ipython = "*"

[requires]
python_version = "3.9"
